<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf.org/thmeleaf-extras-springsecurity6">
<head>
<title>メニュー</title>
</head>
<body>
    <h2>メニュー画面</h2>
    <hr>
    <a th:href="@{/todos}">ToDo一覧へ</a>
    <div sec:authentication="name">
		ログイン情報のname値に書き変わる
    </div>
    <div sec:authorize="isAuthenticated()">
		認証された場合のみ表示
    </div>
    <br>
    <!--ログアウト-->
    <form th:action="@{/logout}" method="post">
		<input type="submit" value="ログアウト">
    </form>
</body>
</html>