<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ToDoフォーム</title>
	</head>
	<body>
		<h2 th:if="${toDoForm.isNew}">新規ToDo登録</h2>
		<h2 th:unless="${toDoForm.isNew}">ToDo編集</h2>
		
		<form th:action="${toDoForm.isNew} ? @{/todos/save} : @{/todos/update}"
		th:object="${toDoForm}" method="post">
		<input type="hidden" th:field="*{id}">
		<table>
			<tr>
				<th>ToDo</th>
				<td>
					<input type="text" th:field="*{todo}">
					<!--　バリデーションエラー-->
					<span th:if="${#fields.hasErrors('todo')}"
					th:errors="*{todo}" style="color:red;">"
					
				</td>
			</tr>
			<tr>
				<th>詳細</th>
				<td>
					<textarea rows="5" cols="30" th:field="*{detail}">
					</textarea>
					<span th:if="${#fields.hasErrors('detail')}"
					th:errors="*{detail}" style="color: red;">
				</td>
			</tr>
		</table>
		<input th:if="${toDoForm.isNew}" type="submit" value="登録">
		<input th:unless="${toDoForm.isNew}" type="submit" value="更新">
		</form>
		<a th:href="@{/todos}">戻る</a>
	</body>
</html>
		
		
		